.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

.blockchain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

body {
  background-color: gold;

  @media (max-width: 1119px) {
    background-color: white;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

.mobile-logo {
  display: none;
  width: 30%;
  height: auto;

  @media (max-width: 1119px) {
    display: block;
  }
}